body {
    background: rgba(137, 43, 226, 0.678);
    font: normal 15pt Arial;
}

header {
    color: whitesmoke;
    text-align: center;
}

section {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.849);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}